name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request: {}

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - uses: eifinger/setup-rye@v2
      - run: rye sync
        env:
          INDEX_USERNAME: ${{ secrets.INDEX_USERNAME }}
          INDEX_PASSWORD: ${{ secrets.INDEX_PASSWORD }}
      - run: rye lint
      - run: rye format --check

  test:
    name: test on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Ensure requests to production domains fail
        if: runner.os == 'Linux'
        run: |
          echo "203.0.113.0 logfire.dev" | sudo tee -a /etc/hosts
          echo "203.0.113.0 logfire-api.pydantic.dev" | sudo tee -a /etc/hosts
          echo "203.0.113.0 logfire.pydantic.dev" | sudo tee -a /etc/hosts
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: eifinger/setup-rye@v2
      - run: rye sync
        env:
          INDEX_USERNAME: ${{ secrets.INDEX_USERNAME }}
          INDEX_PASSWORD: ${{ secrets.INDEX_PASSWORD }}
      - run: rye show
      - run: rye test
