name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request: {}

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - uses: eifinger/setup-rye@v2.6
      - run: rye sync --no-lock
      - run: make lint

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # we use uv directly here since I couldn't get rye to work with UV_EXTRA_INDEX_URL
      # see https://github.com/pydantic/logfire/pull/12
      - run: pip install uv
      - run: uv pip install --system -r requirements.lock -r requirements-dev.lock
      - run: uv pip install --system -U mkdocs-material mkdocstrings-python
        env:
          UV_EXTRA_INDEX_URL: ${{ secrets.UV_EXTRA_INDEX_URL }}
      - run: mkdocs build

  test:
    name: test on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Ensure requests to production domains fail
        if: runner.os == 'Linux'
        run: |
          echo "203.0.113.0 logfire.dev" | sudo tee -a /etc/hosts
          echo "203.0.113.0 logfire-api.pydantic.dev" | sudo tee -a /etc/hosts
          echo "203.0.113.0 logfire.pydantic.dev" | sudo tee -a /etc/hosts
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: eifinger/setup-rye@v2.6
      - run: rye sync --no-lock
      - run: rye show
      - run: make test

  # https://github.com/marketplace/actions/alls-green#why used for branch protection checks
  check:
    if: always()
    needs: [lint, docs, test]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  release:
    name: Release
    needs: [check]
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    environment: release

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: check GITHUB_REF matches package version
        uses: samuelcolvin/check-python-version@v4.1
        with:
          version_file_path: pyproject.toml

      - uses: eifinger/setup-rye@v2
      - run: rye build

      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
